.search{
    background-color: #eaed29;
    position: relative;
    left: -30px;
    top: 8px;
}

.buscar{
    background-color: black;
    color: white;
    cursor:pointer;
    border-color: black;
    font-family: Georgia;
    margin: -2.5%;
    font-size: 18.5px;

}




