.mr-sm-2{
    background-color: white;
    position: relative;
    left: 20%;
    top: 15px;
    color: #bfbfbf;
}

.my-sm-0{
    background-color: black;
    color: white;
    justify-content: center;
    font-family: Georgia;
    font-size: 17.5px;
    width: 130px;
    display: flex;
    cursor:pointer;
    justify-content: center;
    border-color: black;
    font-family: Georgia;
    margin: 10px;
    font-size: 16.5px;
    position: relative;
    top: 15px;
    right: 12.5%;
    left: 14.5%;
    width: 70px;
}





