.caja { 
    color: #bfbfbf;
    background: #889ccf;
    margin: 350px 850px;
    padding: 20px;     
    position: relative;
    width: 40%;
    background: #ffffff;
    text-justify: auto;
    
   
    

}
    