.Navbar{

background-color: #db151ce8;
position: -webkit-sticky;
position: sticky;
top: 0;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1071;
width: 100%;
padding: -2rem;

}

.Navbar__brand{
    color: black;
    display: flex;
    align-items: center;
}

.Navbar__brand-text{
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia;
    color: black;
}
.Navbar__brand-logo{
    position: relative;
    height: 60px;
    bottom: -1rem; 
    margin-right: 0.5rem;
}

.form-inline{
    position: relative;
    padding-left:40rem;
    bottom: 2rem;
    }

.mb-2{
    background: black;
    border: black;
}


