.Navbar{
width: 100%;
padding: 15px;
background-color: #eaed29;
}

.Navbar__brand{
    color: black;
    display: flex;
    align-items: center;
}

.Navbar__brand-text{
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia;
    color: black;
}



